/*****************/
/* Other classes */
/*****************/

.round-bottom {
    border: 1px solid;
    border-color: transparent;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.uk-special-button {
    margin-top: 10px;
    width: -webkit-fill-available;
}

.fill-content {
    height: 559px;
    width: -webkit-fill-available;
}

.scroll-area {
    overflow: scroll;
    overflow-x: hidden;
    height: fit-content;
}

/*****************************/
/* UiKit Style Modifications */
/*****************************/

.uk-table-hover tbody tr:hover,.uk-table-hover>tr:hover {
    background: #00ffdc5e;
}

.uk-checkbox:checked {
    background-color: #12967bb3;
}

.uk-checkbox:focus {
    border-color:  #275f53;
}

.uk-checkbox:checked:focus {
    background-color: #275f53;
}

.uk-button-secondary {
    background-color: #325850;
    border-radius: 6px;
    margin-bottom: 15px;
}

.uk-table tbody tr {
    border-bottom: 1px solid #e5e5e5;
    border-top: none;
}

.uk-notification-message-success {
    background-color: #5a3333;
    border-radius: 8px;
}

.uk-notification {
    z-index: 100000;
}

.uk-notification-message-danger {
    background-color: #5a3333;
    border-radius: 8px;
}


/*******************/
/* Style Scrollbar */
/*******************/

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
background-color: #dddddd;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #aaaaaa; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb; 
}
