.has-toolbar {
    border: 1px solid;
    border-color: transparent;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.titlebar {
    border: 1px solid;
    border-color: transparent;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.titlebar .window-appicon {
    background-size: 20px !important;
}

.window-close-bg {
    border-top-right-radius: 6px;
}

html {
    background-color: transparent !important;
}